@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 4px;
}

.navbar-button:focus {
  outline: 2px solid #f97316;
  outline-offset: 2px;
}
